{// 引入标签库 }
<tagLib name="html" />
<include file="Public:header" />
<load href='__JS__/adddate.js' />
<style type="text/css">
	.check-tips {
	    margin-left: 8px;
	    color: #aaa;
	    font-weight: normal;
	}
	.controls {
	    overflow: hidden;
	    padding: 5px 5px 5px 0;
	}
	#FieldShow span {
	    margin-bottom: 5px;
	    padding: 0 6px;
	    height: 30px;
	    line-height: 30px;
	    overflow: hidden;
	    float: left;
	}
	.table tr .centered {
		text-align: center;
	}
</style>
<div class="main">
<div class="main_title">{:L('ADD')} <a href="{:u(CONTROLLER_NAME."/index")}" class="back_list">{:L('BACK_LIST')}</a></div>
<div class="blank5"></div>
<form name="edit" action="{:U('saveConfig')}" class="definewidth" method="post" enctype="multipart/form-data">
<table class="table table-bordered table-hover m10" cellpadding=0 cellspacing=0>
	<tr>
		<td colspan=2 class="topTd"></td>
	</tr>
	
	<tr>
		<td class="tableleft">模块名称:</td>
		<td class="tableright"><input type="text" class="textbox require" readonly value="{$addon.title}" /></td>
	</tr>
	<tr>
		<td class="tableleft">调用数据表:</td>
		<td class="tableright">
			<select name="config[table]" id="table" onchange="getField(this,1)">
				<volist name="tables" id="t">
					<option value="{$t.table}" <if condition="$t['table'] eq $info['table']">selected</if> >{$t.name}</option>
				</volist>
			</select>
			<span class="check-tips">（请选择调用数据）</span>
		</td>
	</tr>
	<tr>
		<td class="tableleft">显示条数:</td>
		<td class="tableright"><input type="text" class="textbox" name="config[limit]" value="{$info['limit']?$info['limit']:10}" /></td>
	</tr>
	<tr>
		<td class="tableleft">数据排序:</td>
		<td class="tableright">
			<select name="config[order][field]" id="order_show" >
				<volist name="field" id="f">
					<option value="{$f.field}" <if condition="$f['field'] eq $info['order']['field']">selected</if> >{$f.name}</option>
				</volist>
			</select> 
			<select name="config[order][sort]">
				<option value="asc" <if condition="'asc' eq $info['order']['sort']">selected</if> >正序</option>
				<option value="desc" <if condition="'desc' eq $info['order']['sort']">selected</if> >倒序</option>
			</select>
		</td>
	</tr>
	<tr>
		<td class="tableleft">查询条件:</td>
		<td class="tableright">
			<table class="table table-bordered" id="info_extend_field_box" style="width:60%" cellpadding=0 cellspacing=0>
				<tr><td colspan="4" class="centered"><a href="javascript:;" onclick="add_where();">添加查询条件</a></td></tr>
				<tr>
					<th>查询字段</th>
					<th>表达表</th>
					<th>查询值</th>
					<th>操作</th>
				</tr>
				<volist name="info.where" id="ff">

				<tr>
					<td>
						<select name="config[where][field][]" onchange="show_val(this)">
							<volist name="field" id="f">
								<option value="{$f.field}" <if condition="$ff['field'] eq $f['field']">selected</if> xxx="{$f.type}" >{$f.name}</option>
							</volist>
						</select>
					</td>
					<td>
						<select name="config[where][expr][]">
							<option value="like" <if condition="$ff['expr'] eq 'like'">selected</if> >模糊查询</option>
							<option value="eq" <if condition="$ff['expr'] eq 'eq'">selected</if> >等于</option>
							<option value="neq" <if condition="$ff['expr'] eq 'neq'">selected</if> >不等于</option>
							<option value="gt" <if condition="$ff['expr'] eq 'gt'">selected</if> >大于</option>
							<option value="egt" <if condition="$ff['expr'] eq 'egt'">selected</if> >大于等于</option>
							<option value="lt" <if condition="$ff['expr'] eq 'lt'">selected</if> >小于</option>
							<option value="elt" <if condition="$ff['expr'] eq 'elt'">selected</if> >小于等于</option>
							<option value="in" <if condition="$ff['expr'] eq 'in'">selected</if> >包含(IN)</option>
							<option value="not in" <if condition="$ff['expr'] eq 'not in'">selected</if> >不包含</option>
						</select>
					</td>
					<td class="val">{$ff.val}</td>
					<td><a href="javascript:;" onclick="del_info_extend_field(this)">删除</a></td>
				</tr>

				</volist>
				
			</table>
		</td>
	</tr>
	<tr id="tempshow" >
		<td class="tableleft">静态模板:</td>
		<td class="tableright">
			<textarea name="temp" id="TempShow" rows="10" style="width:60%;" >{$temp}</textarea>
			<span class="check-tips">（请输入静态模板描述）</span>
			<div class="controls" id="FieldShow">
				
			</div>
		</td>
	</tr>

	<tr>
		<td class="tableleft"></td>
		<td class="tableright">
			<!--隐藏元素-->
			<input type="hidden" name="id" value="{$addon.id}">
			<!--隐藏元素-->
			<button type="submit" class="btn btn-primary" type="button">编辑</button> &nbsp;&nbsp;
			<a href="{:u(CONTROLLER_NAME."/index")}" class="btn btn-success">返回列表</a>
		</td>
	</tr>
	<tr>
		<td colspan=2 class="bottomTd"></td>
	</tr>
</table>	 
</form>
</div>
<table style="display:none">
<tr id="wt">
	<td>
		<select name="config[where][field][]" class="show_field" onchange="show_val(this)">
			<volist name="field" id="f">
				<option value="{$f.field}" xxx="{$f.type}" >{$f.name}</option>
			</volist>
		</select>
	</td>
	<td>
		<select name="config[where][expr][]">
			<option value="like">模糊查询</option>
			<option value="eq">等于</option>
			<option value="neq">不等于</option>
			<option value="gt">大于</option>
			<option value="egt">大于等于</option>
			<option value="lt">小于</option>
			<option value="elt">小于等于</option>
			<option value="in">包含(IN)</option>
			<option value="not in">不包含</option>
		</select>
	</td>
	<td class="val"><input name="config[where][val][]" type="text" class="textbox" value="" /></td>
	<td><a href="javascript:;" onclick="del_info_extend_field(this)">删除</a></td>
</tr>
</table>
<script type="text/javascript">
	// 在光标处插入字符串 
	// myField 文本框对象 
	// 要插入的值 
	function insertAtCursor(myField, myValue) 
	{ 
		myField = document.getElementById(myField);
		myValue = myValue.replace(/<volist>/ , '<volist name="list" id="vo">');//Volist标签转换
		//IE support 
		if (document.selection) 
		{
			myField.focus(); 
			sel = document.selection.createRange(); 
			sel.text = myValue; 
			sel.select(); 
		} 
		//MOZILLA/NETSCAPE support 
		else if (myField.selectionStart || myField.selectionStart == '0') 
		{ 
			var startPos = myField.selectionStart; 
			var endPos = myField.selectionEnd; 
			// save scrollTop before insert 
			var restoreTop = myField.scrollTop; 
			myField.value = myField.value.substring(0, startPos) + myValue + myField.value.substring(endPos,myField.value.length); 
			if (restoreTop > 0) 
			{ 
				// restore previous scrollTop 
				myField.scrollTop = restoreTop; 
			} 
			myField.focus(); 
			myField.selectionStart = startPos + myValue.length; 
			myField.selectionEnd = startPos + myValue.length; 
		} else { 
			myField.value += myValue; 
			myField.focus(); 
		} 
	}
	getField(table,0);
	function getField(obj,tt){
		var table = $(obj).find("option:selected").val();
		var field = "{$info.order.field}";
		if(tt) field = "";

		if(table){
			$.post("{:U('Block/field_conf')}",{table:table,field:field},function(data){
				$("#FieldShow").html(data.data.field);
				$(".show_field").html(data.data.field_show);
				$("#order_show").html(data.data.order_show);
				
			},"json");

		}
	}
	function add_where(){
		var table = document.getElementById('info_extend_field_box');
		var tr = table.insertRow(-1);
		var td = document.getElementById('wt').innerHTML;
		tr.innerHTML = td;
	}
	function del_info_extend_field(obj){
		$(obj).parent().parent().remove();
	}
	function show_val(obj){
		var table = $("#table").find("option:selected").val();
		var type = $(obj).find("option:selected").attr("xxx");
		if((type > 6 && type < 12) || type == 15){
			$.post("{:U('Block/field_val')}",{table:table,type:type},function(data){
				$(obj).parent().siblings(".val").html(data);
			});
		}else{
			$(obj).parent().siblings(".val").html('<input name="config[where][val][]" type="text" class="textbox" value="" />');
		}
	}
</script>
<include file="Public:footer" />