@charset "utf-8";
body {
    background: #FFFFFF;
	font-size: 12px;
	color: #000000;
	margin: 0px;
	padding: 0px;
	min-width:1280px;
}

#default_top #default_banner #default_footer{
	width:100%;
}

#default_body{
	width:100%;
	margin:0 auto;
}
